body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.student-portal {
    display: flex;
    background-color: #bcbcbc;
    height: 100vh;
}

.sidebar {
    width: 280px;
    background-color: rgb(56, 56, 56);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    height: 100vh;
}

.menu {
    margin-top: 20px;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
}

.menu-item:hover {
    background-color: #000000;
}

.menu-item.active {
    background-color: #4290a3;
    color: #ffffff;
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
}

.title {
    color: #333333;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.bottom-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Add more styles as needed */
